@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

/*
комментарий
 */

body {
    background-image: url("/img/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 21px;
    font-family: cursive;
    color: #1f1f1f;
}

nav {
    list-style: none;
    display: block;
    text-align: center;

    top: 0;
    overflow: hidden;
    position: sticky;  /* смесь относительного и фиксированного */
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
    background-color: #ecf5fa;
    box-shadow: 0 0 10px 2px #ecf5fa;
}

nav li {
    display: inline;
    padding: 0 20px;
}

h1, h3 {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 45px;
}

h3 {
    font-size: 27px;
}

.minds {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-variant: normal;
    font-weight: normal;
}

a {
    color: #310062;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content {
    text-align: left;
}

img {
    border: 5px double #fef1ea;
    box-shadow: 5px 5px 10px #1f1f1f;
    height: 250px;
    border-radius: 18px;
}

ul {
    list-style: circle;
}

hr {
    margin: 0 0;
    padding: 0;
    height: 1px;
    border: none;
    box-shadow: 0 0 10px 2px #fdfff5;
    background-color: #fdfff5;
}

ol img, ul img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
}

ul li, ol li, hr{
    clear: both;
}

/** 2 колонки с помощью float */
#col1, #col2 {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
}

/** фиксированное позиционирование */
#up {
    height: 40px;
    width: 80px;
    padding: 5px 15px;
    box-shadow: 0 0 10px 2px #fdfff5;
    border-radius: 10px;
    background-color: #ebd2ef;

    position: fixed;
    bottom:10px;
    right:10px;
}

#text_up {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
}

/** комбинация относительного и абсолютного */
#about {
    position:relative;

}

#about p {
    float: left;
    width: 75%;
}

#img_com {
    position:absolute;
    border-radius: 100%;
    height: 100px;
    top: 80px;
    right: 20px;
}
